-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: scheme_matching_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `eligibility`
--

DROP TABLE IF EXISTS `eligibility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eligibility` (
  `rule_id` int NOT NULL AUTO_INCREMENT,
  `sch_id` int NOT NULL,
  `allowed_genders` varchar(100) DEFAULT 'ALL',
  `allowed_caste` varchar(100) DEFAULT 'ALL',
  `allowed_business_type` varchar(255) DEFAULT 'ALL',
  `min_annual_revenue` decimal(12,2) DEFAULT '99999999.99',
  `requires_udyam` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`rule_id`),
  KEY `sch_id` (`sch_id`),
  CONSTRAINT `eligibility_ibfk_1` FOREIGN KEY (`sch_id`) REFERENCES `schemes` (`sch_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eligibility`
--

LOCK TABLES `eligibility` WRITE;
/*!40000 ALTER TABLE `eligibility` DISABLE KEYS */;
INSERT INTO `eligibility` VALUES (1,1,'ANY','SC,ST,OBC','ANY',0.00,0),(2,2,'Male,Female','SC','MSME,Manufacturing',0.00,0),(3,3,'ANY','SC,ST,OBC','Handloom,Food Processing,Agriculture',0.00,0),(4,4,'Female,Transgender','SC,ST,OBC,General','ANY',0.00,0),(5,5,'ANY','SC','MSME,Agriculture',0.00,0),(6,6,'ANY','ST','ANY',0.00,0),(7,7,'ANY','OBC','Food Processing,MSME',0.00,0),(8,8,'ANY','SC','MSME',0.00,0),(9,9,'Male,Female','SC','ANY',0.00,0),(10,10,'ANY','SC','ANY',0.00,0);
/*!40000 ALTER TABLE `eligibility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrepreneurs`
--

DROP TABLE IF EXISTS `entrepreneurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrepreneurs` (
  `en_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `language` varchar(30) DEFAULT 'English',
  `gender` enum('Male','Female','Other') NOT NULL,
  `caste` enum('OBC','SC','ST','General') NOT NULL,
  `state` varchar(50) NOT NULL,
  `district` varchar(50) NOT NULL,
  `business_type` varchar(50) NOT NULL,
  `annual_revenue` decimal(14,2) NOT NULL,
  `has_udyam_registration` tinyint(1) DEFAULT '0',
  `registration_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`en_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrepreneurs`
--

LOCK TABLES `entrepreneurs` WRITE;
/*!40000 ALTER TABLE `entrepreneurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrepreneurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scheme_matches`
--

DROP TABLE IF EXISTS `scheme_matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scheme_matches` (
  `match_id` int NOT NULL AUTO_INCREMENT,
  `en_id` int NOT NULL,
  `sch_id` int NOT NULL,
  `match_confidence_score` decimal(5,2) DEFAULT '100.00',
  `matched_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Recommended','Applied','Approved','Rejected') DEFAULT 'Recommended',
  PRIMARY KEY (`match_id`),
  KEY `en_id` (`en_id`),
  KEY `sch_id` (`sch_id`),
  CONSTRAINT `scheme_matches_ibfk_1` FOREIGN KEY (`en_id`) REFERENCES `entrepreneurs` (`en_id`) ON DELETE CASCADE,
  CONSTRAINT `scheme_matches_ibfk_2` FOREIGN KEY (`sch_id`) REFERENCES `schemes` (`sch_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scheme_matches`
--

LOCK TABLES `scheme_matches` WRITE;
/*!40000 ALTER TABLE `scheme_matches` DISABLE KEYS */;
INSERT INTO `scheme_matches` VALUES (1,1,1,95.00,'2026-09-10 15:22:04','Recommended'),(2,1,2,100.00,'2026-09-10 15:22:04','Applied'),(3,2,6,100.00,'2026-09-10 15:22:04','Approved'),(4,3,7,90.00,'2026-09-10 15:22:04','Recommended'),(5,5,5,100.00,'2026-09-10 15:22:04','Recommended'),(6,5,10,95.00,'2026-09-10 15:22:04','Applied'),(7,6,1,95.00,'2026-09-10 15:22:04','Recommended'),(8,6,3,90.00,'2026-09-10 15:22:04','Recommended'),(9,9,4,100.00,'2026-09-10 15:22:04','Approved'),(10,9,6,95.00,'2026-09-10 15:22:04','Recommended');
/*!40000 ALTER TABLE `scheme_matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schemes`
--

DROP TABLE IF EXISTS `schemes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schemes` (
  `sch_id` int NOT NULL AUTO_INCREMENT,
  `sch_name` varchar(255) NOT NULL,
  `ministry_dept` varchar(255) NOT NULL,
  `description` text,
  `financial_benefit_details` text,
  `application_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`sch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schemes`
--

LOCK TABLES `schemes` WRITE;
/*!40000 ALTER TABLE `schemes` DISABLE KEYS */;
/*!40000 ALTER TABLE `schemes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-12 16:06:46
